.header {
  height: 50px;
  background-color: rgba(0,0,0,.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  float: left;
  width: 100%;
  padding: 40px;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
