.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper {
    flex: 1;
  }

  .testimonials-wrapper {
    background-image: url('/gplaypattern.png');
  }

  .contact-wrapper {
    background-color: rgba(7,13,45,1);
  }

  .testimonials {
      padding-top: 50px !important;
      .mini-clients {
          padding-top: 100px;
          padding-bottom: 100px;
      }
  }
}
